Olá, <strong>{{{ deliveryman }}}</strong>.
<p>Uma encomenda está disponível em nosso depósito para ser retirada. Segue abaixo o nome do produto e seu respectivo dono:</p>
<p>
    <strong>Nome do produto:</strong> {{{ product_name }}}<br />
    <strong>Nome do cliente:</strong> {{{ recipient_name }}}<br />
</p>
<p>O produto está lhe aguardando ansiosamente para chegar na casa de seu dono. :)</p>